@using AdminSystem.Application.ViewModels
@model IEnumerable<ContactViewModel>

<h2>客戶聯絡人管理</h2>

<p>
    @Html.ActionLink("新增聯絡人", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("匯出 Excel", "Export", new { sort = ViewBag.Sort, order = ViewBag.Order, search = ViewBag.Search, jobTitle = ViewBag.JobTitle }, new { @class = "btn btn-success" })
</p>

@using (Html.BeginForm("Index", "Contact", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="search">搜尋:</label>
        @Html.TextBox("search", ViewBag.Search as string, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="jobTitle">職稱:</label>
        @Html.DropDownList("jobTitle", (SelectList)ViewBag.JobTitles, "全部", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary btn-xs">篩選</button>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("職稱", "Index", new { sort = "職稱", order = ViewBag.Order, search = ViewBag.Search, jobTitle = ViewBag.JobTitle }, new { @class = "sortable" })
            </th>
            <th>
                @Html.ActionLink("姓名", "Index", new { sort = "姓名", order = ViewBag.Order, search = ViewBag.Search, jobTitle = ViewBag.JobTitle }, new { @class = "sortable" })
            </th>
            <th>
                @Html.ActionLink("Email", "Index", new { sort = "Email", order = ViewBag.Order, search = ViewBag.Search, jobTitle = ViewBag.JobTitle }, new { @class = "sortable" })
            </th>
            <th>
                @Html.ActionLink("手機", "Index", new { sort = "手機", order = ViewBag.Order, search = ViewBag.Search, jobTitle = ViewBag.JobTitle }, new { @class = "sortable" })
            </th>
            <th>
                @Html.ActionLink("電話", "Index", new { sort = "電話", order = ViewBag.Order, search = ViewBag.Search, jobTitle = ViewBag.JobTitle }, new { @class = "sortable" })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.職稱)</td>
                <td>@Html.DisplayFor(modelItem => item.姓名)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.手機)</td>
                <td>@Html.DisplayFor(modelItem => item.電話)</td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" }) |
                    @Html.ActionLink("詳細", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-xs" }) |
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs", onclick = "return confirm('確定刪除?');" })
                </td>
            </tr>
        }
    </tbody>
</table>