@model IEnumerable<AdminSystem.Models.客戶銀行資訊>

<h2>客戶銀行帳戶管理</h2>

<p>
    @Html.ActionLink("新增帳戶", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("匯出 Excel", "Export", new { search = ViewBag.Search }, new { @class = "btn btn-success" })
</p>

@using (Html.BeginForm("Index", "Banks", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="search">搜尋:</label>
        @Html.TextBox("search", ViewBag.Search as string, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary btn-xs">篩選</button>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("銀行名稱", "Index", new { sort = "銀行名稱", order = ViewBag.Order, search = ViewBag.Search }, new { @class = "sortable" })
            </th>
            <th>
                @Html.ActionLink("銀行代碼", "Index", new { sort = "銀行代碼", order = ViewBag.Order, search = ViewBag.Search }, new { @class = "sortable" })
            </th>
            <th>
                @Html.ActionLink("分行代碼", "Index", new { sort = "分行代碼", order = ViewBag.Order, search = ViewBag.Search }, new { @class = "sortable" })
            </th>
            <th>
                @Html.ActionLink("帳戶名稱", "Index", new { sort = "帳戶名稱", order = ViewBag.Order, search = ViewBag.Search }, new { @class = "sortable" })
            </th>
            <th>
                @Html.ActionLink("帳戶號碼", "Index", new { sort = "帳戶號碼", order = ViewBag.Order, search = ViewBag.Search }, new { @class = "sortable" })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.銀行名稱)</td>
                <td>@Html.DisplayFor(modelItem => item.銀行代碼)</td>
                <td>@Html.DisplayFor(modelItem => item.分行代碼)</td>
                <td>@Html.DisplayFor(modelItem => item.帳戶名稱)</td>
                <td>@Html.DisplayFor(modelItem => item.帳戶號碼)</td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" }) |
                    @Html.ActionLink("詳細", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-xs" }) |
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs", onclick = "return confirm('確定刪除?');" })
                </td>
            </tr>
        }
    </tbody>
</table>